<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>(1)</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{496,543}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{496,543}}</string>
                <key>sourceSize</key>
                <string>{496,543}</string>
            </dict>
            <key>(2)</key>
            <dict>
                <key>frame</key>
                <string>{{2,547},{471,539}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,539}}</string>
                <key>sourceSize</key>
                <string>{471,539}</string>
            </dict>
            <key>(3)</key>
            <dict>
                <key>frame</key>
                <string>{{954,532},{477,525}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,525}}</string>
                <key>sourceSize</key>
                <string>{477,525}</string>
            </dict>
            <key>(4)</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{506,528}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{506,528}}</string>
                <key>sourceSize</key>
                <string>{506,528}</string>
            </dict>
            <key>(5)</key>
            <dict>
                <key>frame</key>
                <string>{{511,1084},{494,525}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{494,525}}</string>
                <key>sourceSize</key>
                <string>{494,525}</string>
            </dict>
            <key>(6)</key>
            <dict>
                <key>frame</key>
                <string>{{475,547},{477,535}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,535}}</string>
                <key>sourceSize</key>
                <string>{477,535}</string>
            </dict>
            <key>(7)</key>
            <dict>
                <key>frame</key>
                <string>{{1008,2},{493,524}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,524}}</string>
                <key>sourceSize</key>
                <string>{493,524}</string>
            </dict>
            <key>(8)</key>
            <dict>
                <key>frame</key>
                <string>{{2,1088},{507,538}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{507,538}}</string>
                <key>sourceSize</key>
                <string>{507,538}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>walking_bunny.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22791fbc23cbfd4781ff8cda1bff8d33$</string>
            <key>textureFileName</key>
            <string>walking_bunny.png</string>
        </dict>
    </dict>
</plist>
